@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400&display=swap");

:root {
  --color-hover-fuente: #4e7f7d;
}

/*colors #051e3e • #251e3e • #451e3e • #651e3e • #851e3e*/
/*colors 2.0 #23313d  #4e7f7d  #cbffd8 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /*background: url("img/Background.jpg");*/
  background-attachment: fixed;
  background-size: cover;
}

/* Header Y nav bar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0rem 10rem;
}

#logo {
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  text-decoration: none;
  color: #eee;
  z-index: 1;
}

#logo:hover {
  color: var(--color-hover-fuente);
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  padding-left: 8rem;
  z-index: 1;
}

header nav ul li a {
  text-decoration: none;
  color: #eee;
  font-size: 20px;
  display: inline-block;
}

header nav ul li a:hover {
  color: var(--color-hover-fuente);
}

header nav ul li a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: var(--color-hover-fuente);
  transition: 300ms;
}

header nav ul li a:hover::after {
  width: 100%;
}

/* CONTENIDO */

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container .consola {
  width: 60rem;
  height: 460px;
  position: relative;
  top: 4rem;
  background-color: #151718;
  border-radius: 1%;
  z-index: 1;
}

.consola .nav-dots {
  width: 50rem;
  height: 25px;
  border-color: 1px solid black;
  display: flex;
}

.consola .dots {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 1rem;
  margin-right: 6px;
}

#dot1 {
  margin-left: 1rem;
  background-color: #ff5f56;
}

#dot2 {
  background-color: #ffbd2e;
}

#dot3 {
  background-color: #27c93f;
}

.container h2 {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #eee;
}

.container h2:hover {
  color: var(--color-hover-fuente);
  transition: 300ms;
  cursor: default;
}

.texto p,
.texto ul li {
  margin: 15px auto;
  margin-left: 3rem;
  font-size: 1rem;
  color: #eee;
}

#icons {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  margin-left: 3rem;
}

.fa {
  margin-top: 10px;
  font-size: 2.1rem;
}

.fa:hover {
  color: var(--color-hover-fuente);
  transition: 300ms;
}

/*NAV BURGER STYLE*/

.checkbtn {
  font-size: 30px;
  color: black;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.fa,
.fas {
  color: white;
  z-index: 1;
}

/*RESPONSIVE*/

@media screen and (max-width: 1350px) {
  .checkbtn {
    display: flex;
  }

  header {
    padding: 0;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  header nav ul {
    position: fixed;
    display: block;
    width: 90%;
    height: 100vh;
    background-color: rgba(12, 13, 20, 0.99);
    z-index: 10;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
    border-radius: 1%;
  }

  header nav ul li {
    display: block;
    padding: 0;
    margin-top: 10px;
  }

  header nav ul li a {
    padding: 10px;
  }

  #check:checked ~ ul {
    right: 0;
  }
}
